/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';
 @import 'home';

$dark-grey: #4f5566;
$light-grey: #a6a9b2;
$highlight: #7db6e8;
$border: #f2e8e8;

 body {
   margin: 0;
 }

#my-element {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

#header{
  flex-shrink: 0;
  a {
  color: $dark-grey;
  padding: 10px;
  }
  a:hover {
    background-color: $light-grey;
  }
}

#body {
  overflow-y: scroll;
  background-image: url(no_music_no_life.jpeg);
  background-position: center center;
  color: $light-grey;
}
